[2019-07-22 09:04] joshuatz opened #1 "CSP is breaking bookmarklet"
Looks like LinkedIn just implemented [CSP](https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP) (was not there before):

Even though the bookmarklet does not use "eval" or is an inline-script, it looks like browsers treat it as such. See [this SO question](https://stackoverflow.com/questions/7607605/does-content-security-policy-block-bookmarklets/7607789) and this [issue](https://github.com/Khan

[2019-10-16 23:17] lucbpz opened #3 "Some dates are not parsed correctly"
* One digit months need to be transformed into two digit months.
When last day of the month is set:
* Max number of days needs to be calculated instead of showing 31 for every month.

This should help validate the schema faster instead of having to validate manually and figure out which dates are incorrect.

[2019-10-16 23:18] lucbpz commented on #3
Let me grab this issue and contribute to your project 😄

[2019-10-17 02:23] joshuatz commented on #3
@lucbpz Those are both good catches. I completely missed the fact that the schema spec calls for left-padding of months and days. And I welcome contributions - go for it! 👏

I didn't bother to set up contributing guidelines for this repo, but just follow the normal pattern (fork/clone, branch, push to fork, and then PR to merge your branch into master) and try to test locally if you can. I'll do m

[2019-10-19 20:39] joshuatz commented on #3
Closed by PR #5

[2019-10-19 20:39] #3 closed

[2019-10-21 08:43] lucbpz opened #6 "Recommendations are not working anymore"
It seems that LinkedIn has changed its DOM and the selectors and logic to extract info about the recommendations are not working anymore.

[2019-10-22 15:53] joshuatz commented on #6
Weird, this should have auto-closed when #8 got merged. Manually closing now.

[2019-10-22 15:53] #6 closed

[2020-03-31 20:29] DigniticeRoland opened #10 "Contact Data are missing"
Thank you very much for the great project and what an honor to open the #10 issue. I think you missed the contact data. In case you have a direct connection to the profile, in most cases, you are allowed to see the email address and other connected profiles e.g. Twitter. Unfortunately, I can't find this information in the JSON file. Is that a bug or a feature? Thank you

[2020-04-04 08:00] joshuatz commented on #10
@DigniticeRoland Thanks for bringing this to my attention.

I've improved the contact information scraping; it should now pull in Twitter accounts, email address (it was already, but some of the code was faulty), and phone number, when applicable. Change was implemented in v0.0.7, but I'm pushing v0.0.8 now to the chrome webstore for distribution.

I've tested it myself, and it seems to be working

[2020-04-13 16:56] DigniticeRoland opened #12 "Not all references included"
Hi,

thank you for your awesome work.
Unfortunatly not all references are included into JSON. I only see two instead of all 6 or 8.

![image](https://user-images.githubusercontent.com/62964017/79141025-45b2f800-7db9-11ea-8d18-2cc588722998.png)

Thank you for double checking.

[2020-04-13 16:57] DigniticeRoland opened #13 ""interests": [] are empty"
Thank you for your great work. I hope it is fine for you, when I open some issues I came across while testing. Thanks for review.

The "interests": [], is always empty, even so the profile has interest.

[2020-04-13 17:01] DigniticeRoland opened #14 "Certificates are missing"
The block of certificates is missing. I mean some people have a list of certificates like coursera.

![image](https://user-images.githubusercontent.com/62964017/79140980-30d66480-7db9-11ea-9b85-8a5bdbbd5dd6.png)

[2020-04-14 20:14] joshuatz commented on #10
Closing - looks like Chrome webstore accepted new release, and is working on my end.

[2020-04-14 20:14] #10 closed

[2020-05-08 07:12] joshuatz commented on #12
Hi @DigniticeRoland

Sorry for the delay in responding; for some reason I missed getting notifications for this issue and your others. I'll take a look at them all shortly.

[2020-05-08 22:46] joshuatz opened #16 "Feature: Add support for auto-pagination API calls"
Most endpoints return all the data needed on the very first call, but a few are impacted by the pagination caps and require subsequent calls to get all the data necessary for the final schema generation.

Ideally, this should be made easier by modifying the `voyagerFetch` method (or associated methods) to accept a parameter to "auto-paginate" with an arbitrary limit, and then have the method run t

[2020-05-09 02:56] joshuatz commented on #13
@DigniticeRoland Can you elaborate a bit? Right now, I'm not sure how (or if) the "interests" section on LinkedIn should map to "interests" in JSONResume schema, since they aren't exactly parallel things.

- Interests on LinkedIn are more like things you are "following", so that you get updates about them in your newsfeed (similar to following someone on Twitter, or friending someone on FB)
     -

[2020-05-09 03:38] joshuatz commented on #14
This was originally by design, and not a bug. The official JSON Resume specification currently does not actually have any relevant section where certificates could placed. As such, I opted to omit it from both scraping and output.

I'm updating the code to include certificates, as you are requesting, but only if the `exportBeyondSpec` flag is set to true, since I don't want to violate the codified

[2020-05-10 03:48] #12 closed

[2020-05-10 03:48] #14 closed

[2020-05-18 02:31] joshuatz commented on #13
Closing due to inactivity; as I see it (without clarification), this is a non-issue at the moment, since LinkedIn's "interests" fall outside of the Resume JSON use.

[2020-05-18 02:31] #13 closed

[2020-05-25 19:24] dev-plvlml opened #18 "Non-primary languages"
Hi,
It would be really nice to add support for non-primary language profiles.
E.g., my primary language of a LinkedIn profile is Russian, but it has an English version too (obtained with a cgi `?locale=en_US`).
BTW, the official PDF exporting fails here too and always exports a (primary) Russian version, even I switch to an English page.

[2020-05-25 21:40] joshuatz commented on #18
To clarify, did you use the ["add profile in another language" feature](https://www.linkedin.com/help/linkedin/answer/1717/create-or-delete-a-profile-in-another-language) to build a separate English version of your profile, and that is what you want an export of, instead of Russian?

Also, do you mind adding [my profile](https://www.linkedin.com/in/joshuatzucker/) on LinkedIn, or just sharing your

[2020-05-28 10:37] dev-plvlml commented on #18
Yes, that is exactly  the case.

Surely, it's [plvlml](https://www.linkedin.com/in/plvlml/).

[2020-05-28 14:24] joshuatz commented on #18
@dev-plvlml Thanks for the details (and for the LI add 😃)!

I'm looking into this; an interesting thing is that LinkedIn is clearly choosing to go with the language of the person looking at the profile, not the profile itself. When I pull up your profile, I have the opposite problem that you do - it will only let me get an English export, and I can't get it to export Russian.

That being said, I t

[2020-05-31 17:39] #18 closed

[2020-05-31 17:57] joshuatz commented on #18
@dev-plvlml Thanks again for bringing this to my attention, and sharing your profile with me.

This has now been implemented, and is in the newest `v1.0.0` release. I've uploaded it to the Chrome webstore for distribution, but it can take weeks to get processed, so if you want to use it ASAP, you can follow [my side-loading instructions](https://github.com/joshuatz/linkedin-to-jsonresume#chrome-si

[2020-06-29 13:30] sjlavena opened #22 "Missing information"
If the linkedin profile shows the "show more" link because there are too many jobs (not that many really), the JSON generated doesn't include that info. This happens even if the plugin is called AFTER the show more link is pressed.

So I can't find any work arround this...

Example profile: https://www.linkedin.com/in/sebastianlavena/

This is great work ! Thanks if you can fix this :)

[2020-06-30 05:38] joshuatz commented on #22
Thanks for reporting this, and especially for providing an example profile (that helps me a lot).

I can verify I see the same bug that you do. I'm sure there is *some* way I'll be able to fix this, but it might take a little bit of time; at first-glance, LinkedIn is not making it easy to pull the full list of work positions, and it might take some digging on my end to find a reliable way to grab

[2020-06-30 22:31] sjlavena commented on #22
Thanks you very much for your reply !

Not sure if it helps, but as a user for me it wouldn't be a problem if I need to click on all the "show more" links that may appear  on the webpage before running the plugin.

I highly appreciate any workaround you may find !

Thanks again,

Sebastian

[2020-07-01 06:46] joshuatz commented on #16
I think this is going to be a blocker that needs to get addressed in order to implement a fix for #22.

[2020-07-06 20:53] sjlavena commented on #22
Thanks Joshua  !

I just saw your commit related to this !!

Does that means that the Chrome plugin should now work or we need to wait for the update to reach the chrome store to get this update ?

[2020-07-06 23:00] joshuatz commented on #22
@sjlavena Sorry, no not yet. After I made that commit, I got side-tracked by some other projects. I'm working on finishing this up today though, and hopefully should be commenting at you again shortly with an update and release info.

[2020-07-07 05:09] #16 closed

[2020-07-07 05:09] #22 closed

[2020-07-07 05:24] joshuatz commented on #22
@sjlavena I finally finished implementing a fix / workaround for this.

It is working in the newest version (`v1.3.0`), which I've just uploaded to the Chrome Webstore for distribution, but it can take weeks to get processed, so if you want to use it ASAP, you can follow [my side-loading instructions](https://github.com/joshuatz/linkedin-to-jsonresume#chrome-side-loading-instructions). And you can

[2020-07-19 23:21] joshuatz opened #25 "Bug: Previous profile is grabbed after (SPA) page navigation (*vcard)"
It was reported to me that when navigating between profiles and exporting vCards, the second export will be a duplicate of the first - i.e., it grabbed the first profile and not the second.

I just verified myself, and confirm this is a live bug. As opposed to being a regression after recent changes, I think this might actually be because LinkedIn is transitioning more and more of their site to ac

[2020-07-21 11:15] #25 closed

[2020-07-21 11:20] joshuatz commented on #25
Fixed. See 1d95e60 for full details, but I think this was a combination of things; stale profileId stuck in instance, SPA related data, and less data being available from the DOM and requiring API calls.

[2020-07-30 16:37] DandyDev opened #26 "When exporting my LinkedIn profile, I end up with someone else's work experience"
I have a strange issue. When using the extension on [my LinkedIn profile](https://www.linkedin.com/in/danieldebie/), the resulting JSON Resume file contains my own _summary_ and _education_ sections, but someone else's work history. In this case, it's the work history of an [ex-colleague of mine](https://www.linkedin.com/in/johnbol/). I assume this is a bug?

[2020-07-30 22:29] joshuatz commented on #26
Thanks for reporting this. I was immediately able to reproduce the exact same results as you got (your ex-colleague's work experience got pulled in). This is... bizarre, to say the least.

I'll look into this; my guess is the wrong profile URN ID is getting pulled in somehow, which LinkedIn is making it harder and harder to extract reliably.

[2020-07-31 21:34] #26 closed

[2020-07-31 21:45] joshuatz commented on #26
@DandyDev This indeed was an issue with incorrect profileUrnId extraction; a fix has been implemented and [a new release authored](https://github.com/joshuatz/linkedin-to-jsonresume/releases/tag/v1.4.1) (v1.4.1).

Thanks again for reporting (and including the profile links - that helped me a lot).

[2020-08-02 21:09] DandyDev commented on #26
Awesome, this works correctly for me now!

[2020-08-02 21:14] DandyDev opened #27 "Work experience order is different than on LinkedIn profile"
I was able to successfully export my linkedin profile to JSON Resume format since #26 was fixed. I have a new problem however. The order of work experience items in the resulting JSON Resume file is different than on my linkedin profile. Given that most templates and editors that can work with JSON Resume files, do not try to order it in any way (by date for example), this is problematic.

My [Lin

[2020-08-03 05:47] joshuatz opened #28 "Improve: Add test(s) and/or checks"
With how often this is needing updates, it would be nice to establish some sort of test or simple check to verify the shape of the output.

This could be something like a real-life integration test with snapshot...

 - dev puts cookie in `.env` file, extension runs via [`playwright`](https://github.com/microsoft/playwright), JSON Resume output is collected and compared to *snapshot*
 - Would essen

[2020-08-03 12:08] joshuatz commented on #27
I can see what you mean, and this isn't how the extension used to function; the work section in the output used to mirror the profile webpage exactly, including the same order. However, due to #22, and related issues around "truncated" data, I've had to make some substantial changes that (must) have led to this.

I'll do some digging, and I think I already have an idea of where in my code this pro

[2020-08-04 15:55] DandyDev commented on #27
Thanks for looking into this!

[2020-08-07 23:37] #27 closed

[2020-08-07 23:49] joshuatz commented on #27
@DandyDev Thanks for reporting and the details.

Fix has been released - [v1.4.2](https://github.com/joshuatz/linkedin-to-jsonresume/releases/tag/v1.4.2).

[2020-08-12 15:42] DandyDev commented on #27
Thanks for this! Just tested it out and it works as expected and desired!

[2020-09-04 13:58] youssefaqil opened #30 "test"

[2020-09-04 14:25] joshuatz commented on #30
🤔❔

@youssefaqil Did you mean to open this issue on my repo? I see this is your first issue opened on Github; I'm happy to help if you need any assistance, or answer questions.

[2020-09-06 14:38] #30 closed

[2020-10-08 20:12] blopa opened #31 "Parse from URL"
This is awesome and super useful, thanks for making this and proving a wholesome readme.

I was looking into your code and I'm wondering if it is possible to parse all the data from Linkedin by scraping a Linkedin profile URL.

Is it possible? Could you point me how to?

Thanks

[2020-10-09 15:29] joshuatz commented on #31
@blopa Thanks for the kind words. This project, as a browser extension, uses the current user's browser environment while they have a LinkedIn page open - the browser itself and its APIs (e.g. `fetch`), the JavaScript engine, and crucially for this project, [the stored cookies](https://github.com/joshuatz/linkedin-to-jsonresume/blob/c6ca3abe15c4b597349e3b2c1b4fe86621aa5925/src/main.js#L1718-L1722)

[2020-10-10 18:47] #31 closed

[2020-10-22 14:43] jacobamiller opened #32 "Birthdays are Imported incorrectly"
Recently all birthdays are 1 month off from what is said on LinkedIn for example a Jan 15th is being changed to Feb 15th

[2020-10-23 03:17] joshuatz commented on #32
Thanks for reporting. I can confirm I see the same problem with generated vCards, although I don't think this is a regression, but just something I missed from the beginning.

Seems odd, since I thought both LI and JS's `Date()` constructor use a zero-based index for months, so they should align... regardless, I'll look into it shortly.

[2020-10-23 05:27] joshuatz commented on #32
I had this wrong; LI specifically does *not* use zero-based indexing for months, but the JS Date constructor does (or at least does when calling it with numerical arguments), which is precisely why this bug exists. Fixed by making sure date object that gets constructed (and passed to vCard creator) does not have offset month.

@jacobamiller Thanks for reporting. Fix has been released and pushed to

[2020-10-24 03:38] jacobamiller commented on #32
I just updated to 1.5.0 and tried importing 3 different contacts with Birthday however No Birthday is imported to the VCard, when I  opened the Vcard in a text editor I see "BDAY:NaNaNaN"

[2020-10-24 03:45] joshuatz commented on #32
Blergh. You are right; it seems to be working with certain profiles but not others (I only could find one profile with a birthday when I was originally working on this, but just found another now that has your issue). I'll look into it.

[2020-10-24 05:05] joshuatz commented on #32
Found the issue; it happens with profiles that specify a birthday without giving a birth **year** (i.e., so no one can know their age). The vCard spec [allows for partial (aka *truncated*) BDAY entries](https://tools.ietf.org/html/rfc6350#section-4.3.1).

However, this might take me some time to fix, because the vCard generator library I'm using ([this one](https://github.com/dantrevino/vCards-JS)

[2020-11-05 22:39] SKalt opened #33 "Projects fail to export"
I'd leave steps to reproduce, but I'm trying to keep my profile private for the time being.  While I figure that out: I had several projects listed, and I got an empty list.

[2020-11-05 23:40] SKalt commented on #28
I'd vote for both.  The end-to-end test w/ playwright could test whether the LI APIs break with assertions like `expect(resume.projects).not.toBeEmpty()`.  A mocked API would be appropriate for testing the resume-forming logic against a known version of the API.

I'd be happy to set up mocked APIs for unit testing, and I'd be interested to see how end-to-end tests would work.

[2020-11-08 13:38] joshuatz commented on #33
This is actually by design; there are multiple things (projects and certificates) that I coded into this tool to collect, but opted not to include in the output because (at the time) they were not part of the "official" JSON Resume specification, and my goal was to stay as true to that as possible.

I'm trying to look to see if that has changed and projects is now "official", but tracking the stat

[2020-11-08 13:53] joshuatz commented on #28
Coming back to this, I'm definitely less enthusiastic about the end-to-end browser test. There are just a lot of things that would make that really hard to set up:

 - I haven't checked recently how long the client-side LI auth tokens are good for, but I can't imagine it is very long, which would mean that the `.env` file (or wherever the token is stored for tests) would have to be updated constan

[2020-11-08 14:18] #32 closed

[2020-11-08 14:32] joshuatz commented on #32
The issue was indeed due to partial BDAY entries, but I was only half-right in asserting that the vCard spec supports these; that is only true in `v4` and up, and this tool currently uses a library that only supports `v3`. Furthermore, `v3` seems to be supported by a far wider array of platforms and tools, so switching this extension over to `v4` is probably not the best move.

The easiest fix, wh

[2020-11-08 16:04] SKalt commented on #28
re: end-to-end browser testing: I took another look through LI's TOS. Turns out they forbid any automated access, so browser testing's out.

<details><summary>re: scraping: I think LI's disapproval of this software is near-inevitable.</summary>

This is not legal advice, but according to [the LinkedIn User Agreement, section 8.2 b](https://www.linkedin.com/legal/user-agreement#dos),

Breaking the

[2020-11-08 16:10] SKalt commented on #33
Your research has certainly made things clearer to me! I'd be down to help support multiple schema versions.

[2020-11-10 15:19] joshuatz commented on #28
Yeah, re: TOS, that is why I choose to be very specific in my wording around this project (lol). To be fair, its intended use really *is* just for users to export their *own* data (that is why I built it, for my own personal JSON powered resume). I think going down the whole developer API route is not currently worth the trouble, and I'm good with just doing API mocking. I always do a "smoke test"

[2020-11-10 15:27] joshuatz commented on #33
Had some time to work on this and actually got a lot done this morning - tracked on PR #34.

The remaining work is to integrate the picker into the UI and pass the option as part of the extension message to the script context; shouldn't take long to do, and I should probably have time in the next day or two to finish it up.

[2020-11-12 15:21] #33 closed

[2020-11-12 15:57] joshuatz commented on #33
Multiple schema support has been shipped 🚀 --> [Release v2.0.0](https://github.com/joshuatz/linkedin-to-jsonresume/releases/tag/v2.0.0)

[2020-11-16 09:53] jacobamiller commented on #32
I would suggest that if a partial Birthday to set the Year to 1900, I would prefer to have contacts Bdays with a clearly wrong Year vs no Birthday at all

[2020-11-18 02:22] dlucenad opened #35 "Export language feature not working"
Hi, my LinkedIn profile has the option of language selection so the viewer can easily change it according to their preference: Portuguese or English. Unfortunately, I can only export my data to JSON in Portuguese, which is my primary profile language. I've tried switching the display language on LinkedIn and also in the drop down menu in the extension but neither of the options work. Any idea of a

[2020-11-18 04:36] joshuatz commented on #35
Thanks for bringing this to my attention; this *was* working correctly, but I confirm you are correct and this is currently not working.

Looks like LinkedIn changed the way their API works; it used to behave so that a GET request that did not have a specific language requested would always return with `en_US` (or maybe it was returning with the default user language of the viewer), but now it app

[2020-11-18 19:06] dlucenad commented on #35
Hey, thanks for the attention.

I tried toggling the language setting back and forth in the popup 2 times, as you suggested, but it didn't work. I then tried 4 times back and forth and still no luck. Also, I don't know hoe relevant this is, but it didn't have a difference with Run or Save buttons.

Let me know when you have found the fix!

[2020-11-26 11:37] colocataire opened #36 "test"

[2020-11-27 10:48] joshuatz commented on #35
@dlucenad Hello again.

Apologies for my delay in getting started on this. I just sat down to code the fix for this, and it looks like LinkedIn might have actually reverted the change they made to their API between when I last investigated and now. When you have a moment, could you please check if this is still affecting your profile?

If so, I might have to add some extra debugging to the extensi

[2020-11-27 10:50] joshuatz commented on #36
@colocataire Hello! Is there something I can help you with on this extension?

I see this is your first issue opened on Github; I'm happy to help if you need any assistance, or answer questions.

[2020-11-28 01:55] dlucenad commented on #35
Hi @joshuatz, no worries!

Unfortunately this is still not working for my profile. No matter which version of JSONResume I'm using and even if I toggle the language setting back and forth I always get the data in `pt_BR`.

Let me know how else I can help you.

[2020-11-29 03:47] joshuatz commented on #35
I think I finally found the issue. It looks like LinkedIn is in the process of changing how multi-lingual profile data is returned; instead of being separated by request, multiple languages are bundled together and the separate locales are nested layers deep in each response. Even stranger is that this behavior seems to be enabled only for when the creator of a multi-lingual profile is looking at

[2020-11-29 03:48] #36 closed

[2020-11-30 21:16] dlucenad commented on #35
Thanks for the in depth feedback and your plan of attack looks promising!

I'm not in a rush to get my profile in English. To be honest I already created a JSONResume in English using the extract from your extension (which for me is only in Portuguese) and translating every sentence by myself. It will be nice to have this working for my type of profile since my LinkedIn is usually my most updated

[2020-12-07 08:12] #35 closed

[2020-12-08 00:34] joshuatz commented on #35
@dlucenad I believe I have finally patched this issue - released now as `v2.1.0`.

You can sideload the zip from [the release page](https://github.com/joshuatz/linkedin-to-jsonresume/releases/tag/v2.1.0), or simply wait until Chrome Webstore accepts my update and pushes it out (usually within 24 hours). Once you have the newest version, please give it a test and let me know if the issue still pers

[2020-12-09 00:46] dlucenad commented on #35
Yes, sir! Now it's working fine with both languages from my profile.
Thanks for this awesome plugin and persistence support to try and solve the bug.

[2020-12-16 05:37] jacobamiller opened #38 "Collects wrong Job Title and company"
When a person has more than one current job, the system scrapes the last job, however, the profile "Professional Headline"  Company & location are from the 1st job normally their main job

Picked Job
< h3 class="t-16 t-black t-bold">Founder - 3D Film Director</h3>

Actualy main job
< h2 class="mt1 t-18 t-black t-normal break-words">
            Supply Chain &amp; Business Development Consultant at

[2020-12-19 16:18] #38 closed

[2020-12-19 16:26] joshuatz commented on #38
@jacobamiller Thanks for reporting; should be fixed now, [released as v2.1.1](https://github.com/joshuatz/linkedin-to-jsonresume/releases/tag/v2.1.1) - update pushed to Chrome Web Store for distribution.

Notes: This was a regression because of the use of the newer Dash endpoints; they don't seem to preserve order in nested results (and, in fact, might invert them), and the only way to guarantee c

[2021-01-21 10:04] jacobamiller opened #39 "Something Broke - Chrome Extension no longer working"
![Linkedin JSON](https://user-images.githubusercontent.com/24448077/105335430-9d18ab00-5c0a-11eb-8e6a-566ce3ff401e.jpg)

[2021-01-21 14:19] joshuatz commented on #39
@jacobamiller I started looking into this, but I cannot (despite multiple attempts) replicate this on my end. It could be that I'm missing something that is unique to your usage that is breaking it for you, but not for me. So, a few questions / things to verify:

1. Does the URL of the profile you are on start with `https://www.linkedin.com/in/`?
2. Have you recently installed any new extensions i

[2021-01-25 09:43] salehsowel opened #40 "CV Saleh Sowel"

[2021-01-25 15:53] jacobamiller commented on #39
1. Does the URL of the profile you are on start with https://www.linkedin.com/in/?
--- Yes, standard profile
2. Have you recently installed any new extensions in Chrome? If so, does disabling them fix the issue with mine?
----No, not that I'm aware of maybe in the background
3. Is there anything "special" about the profile you are on? Is it someone that has a mostly private profile and you are not

[2021-01-26 09:58] joshuatz commented on #40
@salehsowel Did you mean to open this issue on my repo? I see this is your first issue opened on Github; I'm happy to help if you need any assistance, or answer questions.

I'm closing this issue, but will reopen if there is any follow up.

[2021-01-26 09:58] #40 closed

[2021-01-26 10:23] joshuatz commented on #39
Huh, interesting. Off the top of my head, there are a number of things that could have caused a *temporary* glitch like that, and some of them could be hyper-isolated to your account (for example, if LinkedIn rate-limited your account for certain API endpoints that I use).

I'm going to close this issue, since it is back to working for you, but of course feel free to re-open this (or create a new

[2021-01-26 10:23] #39 closed

[2021-02-25 07:48] sebDK opened #41 "Position/Title missing into the exported JSON structure"
Hi,

Nice extension!
Title / Position is missing for all work items:
[code]
It would be very cool to get them.
I use version 2.1.1

[2021-02-26 01:31] joshuatz commented on #41
By any chance, is this for a multi-lingual profile? Any can you please verify what version of schema export you are using (value for the "Select JSONResume Version" dropdown):

- `Stable (v0.0.16)`
- `Latest (v0.1.3)`
- `Beta (v0.1.3 + extra)`

[2021-02-26 10:14] sebDK commented on #41
I used all possible combinations but still getting:
[code]
Funny part it that position is coming on vcf card...

[2021-02-27 21:36] #41 closed

[2021-02-27 21:45] joshuatz commented on #41
@sebDK Ok, I believe I have successfully isolated the issue causing this and fixed it (and some related issues with work positions). There is a new version with these fixes - [`v.2.1.2`](https://github.com/joshuatz/linkedin-to-jsonresume/releases/tag/v2.1.2).

I have initiated an updated release through the Chrome webstore - please note that this can take a while to show up (usually within 24 hour

[2021-03-01 06:07] sebDK commented on #41
@joshuatz many thanks it is now working perfectly.
Thank you.

[2021-08-01 15:23] financeirotalenses opened #48 "Candidate in lot"
o How difficult would it be to parse linketin to json in candidate groups, for example, search for a term and on the linkedin search page to be able to parse all candidates

would you have any tips on how i could implement it?

[2021-08-02 03:03] joshuatz commented on #48
Not necessarily that difficult; you could modify some of the functions, such as `parseViaInternalApi`, to take a profile ID or URL, instead of assuming that the desired profile is the current page.

However, that is outside the scope of this extension and not something I am interested in pursuing or advising on, as it violates LinkedIn's TOS and something I'm not personally a fan of either. If you

[2021-08-02 03:03] #48 closed

[2021-09-17 17:57] financeirotalenses opened #50 "Block account linkedin"
I used it for 1 week and linkedin added a notification notice,
warning that it was not to use these types of automation mechanics, is there a more invisible way to do this?

[2021-09-18 23:18] joshuatz commented on #50
When you say:

how exactly were you using it during that week? Using it to pull your own profile's data? Or repeatedly using it download data from _other_ people's profiles? Did you use it just a few times, or hundreds?

To be clear, this tool is meant for _personal_ use, to export your _own_ profile, not as a general purpose data scraper or profile harvester.

And even if I was unscrupulous, to a

[2021-09-27 03:21] #50 closed

[2021-09-29 20:44] anthonyjdella opened #51 "v1.0.0"

[2021-09-30 04:56] #51 closed

[2021-10-08 08:08] saranbozi96 opened #54 "CV ingénieur qualité"

[2021-10-08 08:08] #54 closed, assigned to nobody

[2021-10-28 01:51] fkrauthan opened #55 "Does not download all volunteer positions"
It seems like for some reason it does not download all volunteer positions (only top 3 are included in the json).

[2021-11-01 01:43] fkrauthan opened #58 "Feature Request: Add location to work entries"
I've noticed that currently for each work entry it does not include location. Any chance that can be added?

[2021-11-01 01:50] joshuatz commented on #55
@fkrauthan Thanks for reporting. I can confirm this issue exists - for certain items within a profile, LinkedIn will only load the first three entries, and require that subsequent entries be loaded lazily, with pagination (e.g., if you have 5 volunteer entries, you get the first 3 on the initial page load, and the final 2 have to be separately loaded).

I've added code to check if volunteer experi

[2021-11-01 01:52] fkrauthan commented on #55
haha thanks. Yeah I am currently redoing my website and plan to regenerate most of my about me page based on linkedin data so I've noticed that some stuff was missing :D I did actually build a quick local fix for that as well. But I was not able to figure out how to retrieve them in the proper order (the only endpoint I could find returns them in a random order).

[2021-11-01 01:59] joshuatz commented on #55
😬 Whoops, I'm like 99% certain I need to reopen this issue now lol. I totally forgot about ordering and although `v3.0.0` now brings in all volunteer entries, it does a direct lookup by type, which does not preserve order.

[2021-11-01 02:05] fkrauthan commented on #55
I also tried to check what LinkedIn itself is issuing to load the rest of volunteer entries but couldn't see any API call. But to be honest a lot of the way linkedin does looks rather strange.

[2021-11-07 06:11] eNzyOfficial opened #59 "Missing Licenses and certifications"
It seems like it's not pulling this information from the profile, would it be possible to add this to the data?

An example profile containing this section would be:
https://www.linkedin.com/in/devashish-katoriya-84699337

EDIT: Seems like it's not pulling the languages out either, only the first one

[2021-11-08 04:25] joshuatz commented on #55
@fkrauthan OK, ordering should fixed now too (in [latest `v3.1.0` release](https://github.com/joshuatz/linkedin-to-jsonresume/releases/tag/v3.1.0)). The fix for this should actually fix ordering in a few other places, so thanks for reminding me about it!

And about the way LinkedIn internal APIs / loaders work... yeah, they are indeed strange.

[2021-11-08 04:25] #55 closed

[2021-11-08 04:26] joshuatz commented on #59
Both issues (Certifications + Languages) are now fixed [in the `v3.1.0` release](https://github.com/joshuatz/linkedin-to-jsonresume/releases/tag/v3.1.0).

Thanks for bringing this to my attention!

[2021-11-08 04:34] joshuatz commented on #58
Looks like this is in both the JSON Resume spec and in the LI data, so I see no reason why not... I should have included this in today's release (🤦‍♂️), but I'll try to get to this soon.

[2021-11-08 04:50] #58 closed

[2021-11-08 04:54] joshuatz commented on #58
@fkrauthan This was basically a one-line fix, so I went ahead and implemented it now. See [3.2.0 release](https://github.com/joshuatz/linkedin-to-jsonresume/releases/tag/v3.2.0).

[2021-11-08 05:07] fkrauthan commented on #58
Nice that's great. Really cool project.

[2021-11-08 05:07] fkrauthan commented on #55
Perfect I will give this and the other ticket a try probably tomorrow :)

[2021-11-08 06:02] eNzyOfficial commented on #59
Sorry to reopen this one.

https://www.linkedin.com/in/punika1988/

Not sure what the edge case is but it seems on this profile it doesn't pull all the languages. However the profile in the OP seems to work fine.

Also, thanks for the extremely fast fix!

[2021-11-08 18:29] fkrauthan commented on #58
Just wanted to let you know that everything works great. Thank you very much.

[2021-11-08 18:35] fkrauthan opened #60 "Education not exported in JSON export"
**Describe the issue**
I've just used the latest version and noticed that the education section is no longer populated (even though my profile should have one entry).

**Help me reproduce your issue**
Download profile with education populated

**Additional context**
This is not very important for me personally just thought I report it.

[2021-11-08 18:37] fkrauthan opened #61 "Languages return one more entry then Linkedin UI shows"
**Describe the issue**
When looking on Linkedin I have two languages in the `Languages` section (`German` and `English`). But when downloading the JSON profile I get 3 languages (`English` is duplicated. I assume it has something todo with manual provided languages vs my profile language as one English was auto added as `Native Speaker`)

**Help me reproduce your issue**
Add one language (the same

[2021-11-14 10:57] joshuatz commented on #61
@fkrauthan I was aware of this when I implemented #59, in 35cba20f57994fc0c842d4e7104d28dce19cfb76 - I probably should have documented it.

Unfortunately, I don't really know a "clean" way around this, not without explicit knowledge of private LinkedIn internals. Your guess as to the root of the issue is correct; there are two ways users can indicate languages - one is as the profile level, and th

[2021-11-14 11:06] #59 closed

[2021-11-14 11:06] #60 closed

[2021-11-14 11:14] joshuatz commented on #60
@fkrauthan Thank you very much for reporting this! This was a regression introduced by a very silly mistake on my part (typo, as part of the volunteer update). Should be fixed in [`v3.2.1` release](https://github.com/joshuatz/linkedin-to-jsonresume/releases/tag/v3.2.1).

[2021-11-14 11:16] joshuatz commented on #59
@eNzyOfficial No worries; I appreciate the follow up and bringing the edge-case to my attention. I had missed a different way that LinkedIn was nesting the language data - now fixed [in the `v3.2.1` release](https://github.com/joshuatz/linkedin-to-jsonresume/releases/tag/v3.2.1).

[2021-11-23 05:58] eNzyOfficial opened #62 "Image prop is an empty string"
**Describe the issue**
For me, the `image` prop is always an empty string, I tried to uninstall and reinstall the extension but I have the same result. Not sure if something changed recently with LinkedIn that could have caused this?

**Additional context**
I also dropped you an email, not sure if you've had time to take a look. Thanks!

EDIT:

Also, if the users work experience is set to current,

[2021-11-28 03:33] eNzyOfficial commented on #62
[code]

[2021-11-28 10:01] joshuatz commented on #62
## Display Photo
As far as I can recall, this extension has never supported the `profile.basics.picture` or `.image` field for a profile picture. The `getDisplayPhoto` method was added in #21, exclusively for use with the vCard export feature, and the reasoning is partially explained in the docs and code comments, but for clarity:

- LinkedIn does not make it easy to hotlink to profile pictures. T

[2021-12-02 12:13] ayazali23 opened #63 "Issue in export to Json"
https://www.linkedin.com/in/noamgraetz/
please check I Cannot export to Json like these types of profiles?

[2021-12-06 09:38] joshuatz commented on #63
Hmm. I think there is actually a site-wide issue with the tool at the moment; not just that profile, but every profile (or at least ones that require an API endpoint). At a quick glance, this looks to be an issue with the LinkedIn Voyager APIs changing.

I'll try to make time this week to tackle this. Hopefully this will be a quick fix, like just updating an endpoint URL, but I can't tell for sure

[2021-12-06 10:01] ayazali23 commented on #63
Thank you so much for your help

On Mon, Dec 6, 2021, 14:38 Joshua Tzucker ***@***.***> wrote:

[2021-12-13 04:25] #62 closed

[2021-12-25 06:34] #63 closed

[2021-12-25 06:47] joshuatz commented on #63
@ayazali23 I finally had some time to work on this - should now be fixed in [the new `v3.2.2` release](https://github.com/joshuatz/linkedin-to-jsonresume/releases/tag/v3.2.2).

(For anyone wondering - yes, the endpoints did change. I also added some code to try and make it easier to "discover" them in the future, as well some documentation notes around some interesting new GraphQL flavored endpoin

[2022-01-23 11:30] Ndri128 opened #65 "Cv"
[CV Ndri_PO_PM.docx](https://github.com/joshuatz/linkedin-to-jsonresume/files/7920348/CV.Ndri_PO_PM.docx)

[2022-01-23 11:31] Ndri128 commented on #65
Cv

[2022-01-23 11:31] #65 closed

[2022-01-23 11:54] Ndri128 opened #66 "Cv"
[CV Ndri_PO_PM.pdf](https://github.com/joshuatz/linkedin-to-jsonresume/files/7920383/CV.Ndri_PO_PM.pdf)
[CV Ndri_PO_PM.pdf](https://github.com/joshuatz/linkedin-to-jsonresume/files/7920386/CV.Ndri_PO_PM.pdf)
[CV Ndri_PO_PM.pdf](https://github.com/joshuatz/linkedin-to-jsonresume/files/7920388/CV.Ndri_PO_PM.pdf)

[2022-01-24 02:45] DanielAbsi opened #67 "Problem to find an email address"
I take the profile of someone, I tested in a linkedin email scraper, and the email was successfully found, When I use linkedin-to-jsonresume everything is scripted except the email.

[2022-01-24 03:28] joshuatz commented on #66
Is there a question or issue associated with this?

[2022-01-24 03:36] joshuatz commented on #67
- This extension is not intended to be used as an email scraper. That being said, when a profile includes a public-facing email address, this extension will include it as part of the generated JSON. But it must be *public* facing, as in, you can click the "Contact info" link at the top of the person's profile and the email shows up in the popup that appears.
- The tool that worked for you might be

[2022-01-26 03:37] joshuatz commented on #66
Closing. If you have a question or have found a bug with the extension, please provide more details.

[2022-01-26 03:37] #66 closed

[2022-04-03 17:44] #67 closed

[2022-04-03 18:28] jonathanAlumot opened #68 "Bug: missing work experience"
For some profiles, some work experience is missing.
In this profile, the 3rd job experience in the American express section is missing in the JSON:
![image](https://user-images.githubusercontent.com/93859351/161442638-5774eee2-f096-4e60-a979-808793b3670a.png)
![image](https://user-images.githubusercontent.com/93859351/161442635-55cabdf3-ae54-4d7a-ad27-951616f1dcc0.png)
LI URL: https://www.linkedin

[2022-04-10 02:24] #68 closed

[2022-04-10 02:44] joshuatz commented on #68
@jonathanAlumot Thanks for reporting. This has been patched in [the `v3.2.3` release](https://github.com/joshuatz/linkedin-to-jsonresume/releases/tag/v3.2.3) and I've pushed the update to the Google Webstore for them to review.

[2022-04-22 14:40] ralyodio opened #71 "Can I use on my own app?"
I’m looking to use this in my svelte app to export LinkedIn profile as json resume.

Do you have an example?

I’m not interested in browser extension.

[2022-04-25 01:20] joshuatz commented on #71
I mean, technically there is nothing stopping anyone from using this outside of a browser extension - I've kept the extension part of it pretty isolated, and the `main.js` entry-point does not import any extension specific code. [The README mentions this](https://github.com/joshuatz/linkedin-to-jsonresume/blob/489f1c6122ff3737cb2e65719b650db527fbad3f/README.md#debugging) - you can actually copy th

[2022-04-25 11:26] ralyodio commented on #71
That’s fine.  Does it still work?

[2022-05-02 01:48] joshuatz commented on #71
@ralyodio Yes, it still works via `main.js` if that is what you mean. Otherwise I'm not sure exactly what the question is...

[2022-05-17 02:09] #71 closed

[2022-06-08 09:45] RonanCamus opened #72 "[URGENT] Extension not working anymore."
**Troubleshooting**
Before creating your issue, please run through the following troubleshooting steps to make sure this is not a temporary glitch or caused by a factor outside the control of this tool:

- [✅] If you have recently installed any new browser extensions, try temporarily disabling them to see if that fixes mine (sometimes extensions interfere with each other)
- [✅] Verify that LinkedI

[2022-06-08 10:06] stevenz4 commented on #72
Yes, same here, i cannot export my jsonResume from LinkedIn

[2022-06-08 12:19] Pierre570 commented on #72
it doesnt work on https://www.linkedin.com/feed/ but still work on https://www.linkedin.com/in/

[2022-06-12 00:37] joshuatz commented on #72
@RonanCamus Thanks for filling out the issue template. I saw that you liked [Pierre570's comment above](https://github.com/joshuatz/linkedin-to-jsonresume/issues/72#issuecomment-1149841750) - does that mean that using the correct URL fixed this issue for you? I'm having trouble replicating this otherwise.

@stevenz4 I guess the same goes for you.

I'll work on adding instructions to the README and

[2022-06-17 12:45] RonanCamus commented on #72
Thanks @joshuatz, keep going your work is great.
Btw, it's working again now... Don't know how/why.

Cheers !

[2022-06-17 12:45] #72 closed

[2022-09-04 15:31] bormaxi8080 opened #75 "Profile photo not saved"
Hi, how about this bug?

Profile photo not saved: I scra profile https://www.linkedin.com/in/diana-ponomareva/ and report this JSON:

{
  "$schema": "https://raw.githubusercontent.com/jsonresume/resume-schema/v1.0.0/schema.json",
  "basics": {
    "name": "Diana Ponomareva",
    "label": "Руководитель рекрутингового агентства IT.и Пишите мне в телегу @diana_com только IT специалисты Темы публикаци

[2022-09-04 15:34] bormaxi8080 opened #76 "How about export profile to markdown format?"
Hi!

How would you feel about the idea of exporting profiles to markdown (.md) format?

It seems to me that, along with exporting to JSON and VCF, this would be an extremely useful feature.

Thanks for the answer!

[2022-09-05 23:39] joshuatz commented on #76
While I agree that it would be useful to some users, I'm trying really hard to keep the feature scope of this project tight - i.e., just the single transformation of LinkedIn data to JSON Resume, not `LI --> JSON Resume --> Markdown`

Also, this seems like an area where there are enough external tools that can handle this and do so in a much more robust way than I would have time to implement with

[2022-09-05 23:39] #76 closed

[2022-09-06 00:04] joshuatz commented on #75
This [has come up before](https://github.com/joshuatz/linkedin-to-jsonresume/issues/62#issuecomment-981056472) and I did not categorize it as a bug that can be "fixed", and I'm still reluctant to do so.

The URL that LinkedIn provides for the profile picture is not actually a permanent URL - it looks like some variant of a temporary signed URL. If I make a guess that the `e={int}` portion of that

[2022-09-06 08:13] bormaxi8080 commented on #76
Thanks for the clarification, HackMyResume at first glance it suits most of my tasks.

[2022-09-06 08:22] bormaxi8080 commented on #75
Joshua, thanks for the detailed explanations! I got the concept.

[2022-10-15 20:05] #75 closed

[2022-11-16 08:23] mullwaden opened #78 "Certain date ranges may start after they end"
A profile might, on a work experience for example, have a date range that is "2007 - oct 2007". The [this fix](https://github.com/joshuatz/linkedin-to-jsonresume/pull/5) will interpret that as "2007-12-31 - 2007-10-31".

Start ends up bigger than end. I would suggest the fix is the following:

- for end dates continue as is done currently ("year-12-31")
- for start dates chose instead "year-01-01"

[2022-11-20 18:34] joshuatz commented on #78
I can certainly see your point of view, and appreciate that you have proposed a fix. I think this change makes sense - I'm including a table of how I would expect parsing to change with this, in case you, or anyone else wants to work on a PR. I could eventually get to this myself, but have less time right now, so it might be a while.

LinkedIn Date | Start vs End | Currently Parsed | New Parser
--

[2022-11-21 13:43] mullwaden commented on #78
https://github.com/joshuatz/linkedin-to-jsonresume/pull/80

something like this maybe?

[2022-11-27 23:03] joshuatz opened #81 "Time-sensitive: Chrome deprecating manifest version v2"
https://developer.chrome.com/docs/extensions/mv3/mv2-sunset/
https://developer.chrome.com/blog/mv2-transition/